@model IEnumerable<Churras.MVC.ViewModels.EventViewModel>

@{
    ViewBag.Title = "Churrascos";
}

<h2>Churrascos</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalParticipants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCollection)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalParticipants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCollection) 
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.EventId })
        </td>
        <td>
            @Html.ActionLink("Participantes", "List", "Participants", new { id = item.EventId }, null) 
        </td>
    </tr>
}

</table>
